# =============================
# Fichiers temporaires Julia
# =============================

# Fichiers compilés et caches
*.ji
*.o
*.so
*.dylib
*.dll

# Répertoires de build et caches
deps/
build/
logs/
*.log

# Packages locaux (si tu as un environnement)
./back-end/Manifest.toml
./back-end/Project.toml
./back-end/.julia/

# Fichiers IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Environnements ou secrets
.env

# Fichiers d'aides
./back-end/helpers/debug.jl